---
const { class: className = "" } = Astro.props;
---

<button
  class={`${className} smooth cursor-pointer p-2 text-sm flex items-center gap-1 justify-center text-neutral-500`}
>
  <slot />
</button>
