---
const { name, svg } = Astro.props;
---

<div
  class="flex items-center gap-2 p-3 rounded-lg border border-neutral-200/50 bg-neutral-50 hover:bg-white hover:border-neutral-300 transition-all duration-300 group"
>
  <div
    class="relative flex items-center justify-center size-8 rounded-md bg-white border border-neutral-200 group-hover:border-neutral-300 transition-colors"
  >
    <img
      src={svg}
      alt={name}
      class="size-5 transition-transform duration-300 group-hover:scale-110"
      loading="eager"
      fetchpriority="high"
    />
  </div>
  <span
    class="font-lexend text-sm font-medium text-neutral-600 group-hover:text-neutral-900 transition-colors"
  >
    {name}
  </span>
</div>
